In [ ]:
storage_account_name = 'azuresynaptraining'
storage_account_access_key = '
spark.conf.set('fs.azure.account.key.' + storage_account_name + '.blob.core.windows.net', storage_account_access_key)
blob_container = 'output'
filePath = f"wasbs://" + blob_container + "@" + storage_account_name + ".blob.core.windows.net/*.csv"
cars = spark.read.format("csv").load(filePath, inferSchema = True, header = True)

In [ ]:
cars.show()

+-------------+--------------------+------+------+----------+-----+-------+----------+---------+----------+--------+-----------+------+---------+------+
|         Make|               Model|  Type|Origin|DriveTrain| MSRP|Invoice|EngineSize|Cylinders|Horsepower|MPG_City|MPG_Highway|Weight|Wheelbase|Length|
+-------------+--------------------+------+------+----------+-----+-------+----------+---------+----------+--------+-----------+------+---------+------+
|       Subaru|          Forester X| Wagon|  NULL|       All|21445|  19646|       2.5|        4|       165|      21|         28|  3090|       99|   175|
|       Toyota| Camry Solara SE ...| Sedan|  Asia|     Front|21965|  19819|       3.3|        6|       225|      20|         29|  3417|      107|   193|
|       Suzuki|        Aerio LX 4dr| Sedan|  Asia|     Front|14500|  14317|       2.3|        4|       155|      25|         31|  2676|       98|   171|
|        Dodge|     Dakota Club Cab| Truck|   USA|      Rear|20300|  18670|       3.7|        6|       210|      16|         22|  3829|      131|   219|
|        Mazda|        Mazda3 s 4dr| Sedan|  Asia|     Front| NULL|  15922|       2.3|        4|       160|      25|         31|  2762|      104|   179|
|     Infiniti| G35 Sport Coupe 2dr| Sedan|  Asia|      Rear|29795|  27536|       3.5|        6|       280|      18|         26|  3416|      112|   182|
|      Pontiac|     Grand Am GT 2dr| Sedan|   USA|     Front|22450|  20595|       3.4|        6|       175|      20|         29|  3118|      107|   186|
|          GMC|     Sonoma Crew Cab| Truck|   USA|       All|25395|  23043|       4.3|     NULL|       190|      15|         19|  4083|      123|   208|
|    Chevrolet|    Suburban 1500 LT|   SUV|   USA|     Front|42735|  37422|       5.3|        8|       295|      14|         18|  4947|      130|   219|
|Mercedes-Benz| CLK500 coupe 2dr...| Sedan|Europe|      Rear|52800|  49104|       5.0|        8|       302|      17|         22|  3585|      107|   183|
|          BMW|             X5 4.4i|   SUV|Europe|       All|52195|  47720|       4.4|        8|       325|      16|         22|  4824|      111|   184|
|       Subaru|                Baja| Truck|  Asia|       All|24520|  22304|       2.5|        4|       165|      21|         28|  3485|      104|   193|
|      Pontiac|             GTO 2dr|Sports|   USA|      Rear|33500|  30710|       5.7|        8|       340|      16|         20|  3725|      110|   190|
|    Chevrolet|        Cavalier 2dr| Sedan|   USA|     Front|14610|  13697|       2.2|        4|       140|      26|         37|  2617|      104|   183|
|        Honda|  Civic Si 2dr hatch| Sedan|  Asia|     Front|19490|  17849|       2.0|        4|       160|      26|         30|  2782|      101|   166|
|      Mercury|        Sable GS 4dr| Sedan|   USA|     Front|21595|  19848|       3.0|        6|       155|      20|         27|  3308|      109|   200|
|Mercedes-Benz|            C320 4dr| Sedan|Europe|      Rear|37630|  35046|       3.2|        6|       215|      20|         26|  3450|      107|   178|
|        Acura| NSX coupe 2dr ma...|Sports|  Asia|      Rear|89765|  79978|       3.2|        6|       290|      17|         24|  3153|      100|   174|
|       Jaguar|       XKR coupe 2dr|Sports|Europe|      Rear|81995|  74676|       4.2|        8|       390|      16|         23|  3865|      102|   187|
|   Volkswagen|   Jetta GLI VR6 4dr| Sedan|Europe|     Front|23785|  21686|       2.8|        6|       200|      21|         30|  3179|       99|   172|
+-------------+--------------------+------+------+----------+-----+-------+----------+---------+----------+--------+-----------+------+---------+------+
only showing top 20 rows

In [ ]:
cars.createOrReplaceTempView('cars_db')

In [ ]:
df2 = spark.sql("SELECT Origin, COUNT(*) FROM cars_db GROUP BY Origin")

In [ ]:
df2.show()

+------+--------+
|Origin|count(1)|
+------+--------+
|Europe|     119|
|  NULL|      15|
|   USA|     143|
|  Asia|     151|
+------+--------+

In [ ]:
outPath = f"wasbs://" + blob_container + "@" + storage_account_name + ".blob.core.windows.net/outputtransformed1/"
df2.write.csv(outPath, header=True)